<html>
<header class="header">
    <nav class="nav">
        <div class="logo" id="menu">
            <img [src]="logo" alt="Logo Tech4Life">
        </div>
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="/src/index.html" class="nav-menu-link nav-link">Menú Principal</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">Gestión de Gerentes</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">Gestión de Centros</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link dropdown-toggle">Nombre</a>  
          <ul class="dropdown-menu show">  
            <li><a href="#" class="nav-menu-link nav-link">Nombre</a></li>
            <li><a href="#" class="nav-menu-link nav-link">Rol</a></li>
            <li><a href="#" class="nav-menu-link nav-link">CerrarSesion</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
<body>
</body>
</html>