<html>
<header class="header">
    <nav class="nav">
        <div class="logo" id="menu">
            <img [src]="logo" alt="Logo Tech4Life">
        </div>
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link" (click)="abrirMenu()">Menú Principal</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link" (click)="abrirGerentes()">Gestión de Gerentes</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link" (click)="abrirCentros()">Gestión de Centros</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link dropdown-toggle" id="name" (click)="isDropdownOpen=!isDropdownOpen" [class.active]="isDropdownOpen">{{ usuario?.nombre }}</a>  
          <ul class="dropdown-menu" *ngIf="isDropdownOpen">  
            <li><a href="#" class="nav-menu-link nav-link">{{ usuario?.nombre }}</a></li>
            <li><a href="#" class="nav-menu-link nav-link">{{mostrarRol()}}</a></li>
            <li><a href="#" class="nav-menu-link nav-link">CerrarSesion</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div *ngIf="isGestionGerentes"> 
    <app-lista-gerentes></app-lista-gerentes>
    </div>
    <div *ngIf="isGestionCentros"> 
      <app-lista-centros></app-lista-centros>
      </div>
      <div *ngIf="isMenu"> 
        <app-carrusel></app-carrusel>
        </div>
  <app-informacion></app-informacion>
</html>