body {
  font-family: Helvetica;
  color: black;
  background-color: rgb(169, 204, 227);
  width: 100%; 
}
.correo-bandeja {
  float: left;
  width: 50%;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #007bff;
  color: white;
}

 
  