<header class="header">
<nav class="nav">
    <div class="logo">
        <a href="https://informatica.cv.uma.es/"><button>¿Quienes somos?</button></a>
    </div>
  <ul class="nav-menu">
    <li class="nav-menu-item">
      <a href="https://www.uma.es/" class="nav-menu-link nav-link">Universidad de Málaga</a>
    </li>
    <li class="nav-menu-item">
      <a href="https://www.google.com/maps/place/Gerencia/@36.7198728,-4.4160444,15z/data=!4m6!3m5!1s0xd72f7eaf0951257:0x82802e30ef777ed9!8m2!3d36.7198728!4d-4.4160444!16s%2Fg%2F11clsgfmh0?entry=ttu" class="nav-menu-link nav-link">Avda. Cervantes, 2. 29071 MÁLAGA</a>
    </li>
    <li class="nav-menu-item">
      <a href="https://www.uma.es/contacta/info/7644/contacto-uma/" class="nav-menu-link nav-link">Tel. 952 13 13 13</a>
    </li>
  </ul>
</nav>
</header>