* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica;
    padding: 90px 20px 0;
  }
  
  .header {
    background-color: rgb(44, 44, 45);
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 12px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    display:grid;
    line-height: 50px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 12px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgb(0, 12, 112);
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }