<!-- 
  TO DO
    Tema validador html -> Error de la imagen
-->

<!-- 
  informacion-centro.component.html
  Esto es el html del componente que ha realizado Raúl 
-->
<!DOCTYPE html>
<html lang="es"> <!-- Esto es el idioma en el que va a estar la web -->

<head>
    <meta charset="UTF-8"> <!-- Esto es para especificar la codificación de caracteres de la web -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No se va a mostrar</title> <!-- Esto es el nombre de la página que aparece en la pestaña del navegador -->
    <link rel="stylesheet" href="informacion-centro.component.css"> <!-- Esto es el linkeo con el archivo css -->
</head>

<body>

    <div class="row">
        <h1 >INFORMACIÓN DEL CENTRO</h1>
    </div>

    <div class="container1">
    
        <div class="row">
            <label class="destacado">Nombre del centro: </label>
            <span class="resp">{{centroNombre}}</span> <!-- {{centro?.centroNombre}} Para el texto dinámico -->
        </div>

        <div class="row">
            <label class="destacado">Dirección: </label>
            <span class="resp">{{centroDir}}</span> <!-- {{centro?.centroDir}} Para el texto dinámico -->
        </div>

        <div class="row">
            <label class="destacado">Valoración: </label>
            <span class="resp">{{centroValorac}}</span> <!-- {{centro?.centroValorac}} Para el texto dinámico -->
        </div>

        <div class="row">
            <label class="destacado">Número de personas inscritas: </label>
            <span class="resp">{{centroInscr}}</span> <!-- {{centro?.centroInscr}} Para el texto dinámico -->
        </div>
    </div>
    <div class="container2">
        <!-- {{imagen}} coge la variable definida en typescript --> <!-- {{centro?.centroImagen}} Para el texto dinámico -->
        <img [src]="centroImagen" alt="Imagen del centro deportivo" class="imagenCentroDeportivo">
        <!-- La línea anterior dá un Error en el validador HTML -->

    </div>
</body>
</html>