<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chats</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h2>Chats</h2>
        <app-mensaje-navegacion></app-mensaje-navegacion>
      </div>
      <div class="col-md-9">
        <h2>nombreLocutor</h2>
        <app-mensaje-gerente></app-mensaje-gerente>
      </div>
    </div>
  </div>
</html>