<html>
<body>
    <section class="carouselq" aria-label="Gallery">
        <ol class="carousel__viewportq">
          <li id="carousel__slide1q"
              tabindex="0"
              class="carousel__slideq">
            <div class="carousel__snapperq">
              <a href="#carousel__slide4q"
                 class="carousel__prevq">Go to last slide</a>
              <a href="#carousel__slide2q"
                 class="carousel__nextq">Go to next slide</a>
            </div>
            <img [src]="carrusel1">
          </li>
          <li id="carousel__slide2q"
              tabindex="0"
              class="carousel__slideq">
            <div class="carousel__snapperq"></div>
            <a href="#carousel__slide1q"
               class="carousel__prevq">Go to previous slide</a>
            <a href="#carousel__slide3q"
               class="carousel__nextq">Go to next slide</a>
               <img [src]="carrusel2">
          </li>
          <li id="carousel__slide3q"
              tabindex="0"
              class="carousel__slideq">
            <div class="carousel__snapperq"></div>
            <a href="#carousel__slide2q"
               class="carousel__prevq">Go to previous slide</a>
            <a href="#carousel__slide4q"
               class="carousel__nextq">Go to next slide</a>
               <img [src]="carrusel3">
          </li>
          <li id="carousel__slide4q"
              tabindex="0"
              class="carousel__slideq">
            <div class="carousel__snapperq"></div>
            <a href="#carousel__slide3q"
               class="carousel__prevq">Go to previous slide</a>
            <a href="#carousel__slide1q"
               class="carousel__nextq">Go to first slide</a>
               <img [src]="carrusel4">
          </li>
        </ol>
        <aside class="carousel__navigationq">
          <ol class="carousel__navigation-listq">
            <li class="carousel__navigation-itemq">
              <a href="#carousel__slide1q"
                 class="carousel__navigation-buttonq">Go to slide 1</a>
            </li>
            <li class="carousel__navigation-itemq">
              <a href="#carousel__slide2q"
                 class="carousel__navigation-buttonq">Go to slide 2</a>
            </li>
            <li class="carousel__navigation-itemq">
              <a href="#carousel__slide3q"
                 class="carousel__navigation-buttonq">Go to slide 3</a>
            </li>
            <li class="carousel__navigation-itemq">
              <a href="#carousel__slide4q"
                 class="carousel__navigation-buttonq">Go to slide 4</a>
            </li>
          </ol>
        </aside>
      </section>
</body>
