<html>
<header class="headerq">
    <nav class="navq">
        <div class="logoq" id="menuq">
            <img [src]="logo" alt="Logo Tech4Life">
        </div>
      <ul class="nav-menuq">
        <li class="nav-menu-itemq">
          <a href="#" class="nav-menu-linkq nav-linkq" (click)="abrirMenu()">Menú Principal</a>
        </li>
        <li class="nav-menu-itemq">
          <a href="#" class="nav-menu-linkq nav-linkq" (click)="abrirInfoCentro()">Informacion Centros</a>
        </li>
        <li class="nav-menu-itemq">
          <a href="#" class="nav-menu-linkq nav-linkq">Mensajeria</a>
        </li>
        <li class="nav-menu-itemq">
            <a href="#" class="nav-menu-linkq nav-linkq dropdown-toggleq" id="name" (click)="isDropdownOpen=!isDropdownOpen" [class.active]="isDropdownOpen">{{ usuario?.nombre }}</a>  
            <ul class="dropdown-menuq" *ngIf="isDropdownOpen">  
            <li><a href="#" class="nav-menu-linkq nav-linkq">{{ usuario?.nombre }}</a></li>
            <li><a href="#" class="nav-menu-linkq nav-linkq">{{mostrarRol()}}</a></li>
            <li><a href="#" class="nav-menu-linkq nav-linkq">CerrarSesion</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div *ngIf="isMenu"> 
    <app-carrusel></app-carrusel>
    </div>
    <div *ngIf="isInfoCentro"> 
      <app-informacion-centro></app-informacion-centro>
      </div>
  <app-informacion></app-informacion>
</html>