<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chats</title>
  <link rel="stylesheet" href="./mensaje-navegacion.component.css">
</head>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h1>Chats</h1>
        <!-- Columna de la lista de chats -->
        <div class="chat-list">
          <!-- Aquí irían los chats -->
          <ul>
            <li>Chat 1</li>
            <li>Chat 2</li>
            <!-- Más chats -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</html>
