<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chats</title>
  <link rel="stylesheet" href="./mensaje-navegacion.component.css">
</head>
<div class="fondo">
  <body>
    <nav class="nav">
      <ul class="nav-menu">
        <li class="nav-menu-item" *ngFor="let chat of chats">
          <a href="#" class="nav-menu-link nav-link" (click)="onChatSelected(chat.id)">{{chat.nombreLocutor}}</a>
        </li>
      </ul>
    </nav>
  </body>
</div>
</html>
