/* You can add global styles to this file, and also import other style files */
html {
    background-color: rgb(169, 204, 227);
        font-size: 20px;
        font-family: Helvetica;
        background-color: rgb(169,204,227);
}