<div class="container">
  <div class="row">
    <h2>Información sobre {{contacto?.nombre}}</h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>ID:</strong>
    </div>
    <div class="col-md-9">
      {{contacto?.id}}
    </div>
    
  <div class="row">
    <div class="col-md-3">
      <strong>Nombre:</strong>
    </div>
    <div class="col-md-9">
      {{contacto?.nombre}}
    </div>
  </div>
 
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Dirección:</strong>
    </div>
    <div class="col-md-9">
      {{contacto?.direccion}}
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-auto">
      <button class="btn btn-outline-primary" (click)="cerrar()">Cerrar <i class="bi bi-trash-fill"></i></button>
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-primary" (click)="editarcontacto()">Editar <i class="bi bi-pencil-fill"></i></button>
    </div>
  </div>
</div>