
.fs-5 {
    font-size: 1.25rem; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
  }
  
  /* Estilo para agregar margen superior */
  .mt-3 {
    margin-top: 2rem; /* Puedes ajustar el margen superior según tus necesidades */
  }

  .black-text {
    color: black;
  }